<span id="demoFooter">
  <img src="/assets/images/logo.png"><br />
  code: <a href="https://thmsdnnr.github.io">thmsdnnr</a><br />
  repo: <a href="https://github.com/thmsdnnr/bricolage">github</a><br />
  data: <a href="https://unsplash.com/documentation">unsplash api</a><br />
</span>
