<html>
<head>
  <title>BRICOLAGE</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <% include ../static/assets/includes/header.ejs %>
    <div id="box">
        <h1><%=data.header%></h1>
        <h2><%-data.message%></h2>
    </div>
</body>
</html>
